.Profile {
  margin: 2rem;
  height: calc(100vh - 4rem);
  width: auto;
}

.ProfileInCnt .nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.ProfileInCnt .nav-bar .bar {
  cursor: pointer;
}

.ProfileInCnt .nav-bar .bar span {
  display: block;
}

.ProfileInCnt .back-img {
  height: 218px;
  background-color: var(--color5);
  border-radius: var(--radius-1);
  margin-top: 4rem;
  position: relative;
}

.ProfileInCnt .back-img .profile-img {
  /* background-color: red; */
  height: 200px;
  width: 200px;
  border-radius: 50%;
  position: absolute;
  left: 5%;
  bottom: -25%;
}
.ProfileInCnt .edit {
  display: flex;
  justify-content: flex-end;
  margin: 2rem 4rem;
}

.ProfileInCnt .edit button {
  background-color: var(--primary-clr);
  border-radius: 8px;
  padding: 1rem;
  border: solid 1px var(--color3);
  width: 126px;
}

.ProfileInCnt .general-info {
  background-color: var(--primary-clr);
  height: 288px;
  width: 500px;
  border-radius: var(--radius-1);
  /* margin-top: 8rem; */
  padding: 3rem;
}

.ProfileInCnt .general-info .info {
  margin-top: 1rem;
}

.ProfileInCnt .general-info .info h5 {
  /* margin-top: 1rem; */
  color: var(--color5);
  margin-bottom: 0.7rem;
}

.ProfileInCnt .end {
  display: flex;
  justify-content: flex-end;
  margin-top: 3rem;
}
