.home {
  /* background-color: red; */
  padding: var(--rem-2);
  /* flex-direction: row; */
}
.home-cnt {
  /* height: 100%; */
  /* background-color: red; */
}
.main {
  display: flex;
  justify-content: space-between;
}
.logo {
  cursor: pointer;
}

.main .firsth3 {
  /* background-color: red; */
  width: 640px;
  line-height: 65px;
  margin-top: 8rem;
  margin-bottom: 3rem;
}

.main .secondh3 {
  width: 640px;
  line-height: 65px;
  margin-top: 3rem;
  margin-bottom: 3rem;
}
.main .firsth4 {
  line-height: 40px;
  margin-right: 50px;
}

.btns {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 663px;
}

.btns input {
  background-color: var(--primary-clr);
  padding: 1.5rem;
  border: solid 1px var(--color5);
  border-radius: var(--radius-1);
  margin-bottom: 1rem;
  text-align: center;
  border: none;
  border: solid 1px var(--color5);
}

.btns input:focus {
  border: none;
}

.btns button {
  background-color: var(--color4);
  padding: 1rem;
  width: 150px;
  border: solid 1px var(--color4);
  border-radius: var(--radius-1);
  align-self: flex-end;
}

.made {
  display: flex;
  justify-content: flex-end;
  color: var(--color3);
  margin-top: 5rem;
}

.gender {
  display: flex;
  /* justify-content: space-between; */
  gap: 0.5rem;
}

.gender input {
  /* width: 100%; */
  width: 326px;
}
